.form {
  display: flex;
  flex-direction: column;
  gap: var(--padding-medium);
  padding: var(--padding-medium);
  border: 1px solid var(--color-light);
  border-radius: 0.5rem;
  background-color: var(--color-light);
}

.form label {
  font-weight: bold;
}

.form input {
  padding: var(--padding-small);
  border: 1px solid var(--color-light);
  border-radius: 0.25rem;
}

.form button {
  padding: var(--padding-medium);
  background-color: var(--color-primary);
  color: var(--color-light);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.form button:hover {
  background-color: var(--color-primary-dark);
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}
